.post {
  text-align: justify;
}

.sidebar-toggle {
  font-size: 20px;
}

.sidebar-item {
  text-align: center;
}

.sidebar-logo {
    padding: 1.25rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 160px;
    margin: 0 auto;
}

#chart, #chart2, #chart4 {
  background-color: #f7f7f9; 
  width: 95%;
  height: 95%;
  min-width: 400px;
  min-height: 300px;
  position: absolute;
  right: 2.5%;
  left: 2.5%;
  top: 2.5%;
  bottom: 2.5%;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
}

#chart3 {
  background-color: #D5E3FF; 
  width: 95%;
  height: 95%;
  min-width: 400px;
  min-height: 300px;
  position: absolute;
  right: 2.5%;
  left: 2.5%;
  top: 2.5%;
  bottom: 2.5%;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
}

#chart4 {
  background-color: transparent; 
}

#chart3 g.map g.countries path {
  /*fill: #FFF;*/
  stroke: #000;
  stroke-width: 0.4px;
}

div.top-buffer { 
  margin-top: 20px; 
}

div.artistDetails {
  display: none;
}

div.chart-container {
  position: relative;
  min-height: 90vh;
  min-width: 90vw;
  /*margin-left: -17.5vw;*/
}

div.chart-container-col {
  position: relative;
  min-height: 90vh;
}

div.numberOfArtistsSelectorParent, div.decadeSelectorParent {
  text-align: right;
}

div.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

div.bs-callout-info {
    border-left-color: #1b809e;
}

span.red {
  color: #ED5565;
}

g.tick line {
  stroke: lightgrey;
  opacity: 0.7;
}

g.tick text {
  opacity: 0.4; 
}

text.x.label, text.y.label {
    letter-spacing: .03em;
    font-weight: 700;
    opacity: 0.7; 
}

#gridY path.domain, #gridX path.domain {
  display: none;
}

circle.multipleArtists {
  stroke: #ED5565;
}

circle.singleArtist {
  stroke: #656D78;
}

circle:hover {
  cursor: pointer;
}


#chart4 circle:hover {
  cursor: default;
}

#chart4 circle.tracksToDisplay:hover {
  cursor: pointer;
}

.legendCircle circle:hover {
  cursor: default;
}

table#importantDatesTable tbody tr:hover {
  cursor: pointer;
}

circle._60s {
  fill: rgba(31, 119, 180, 0.5);
}

circle._70s {
  fill: rgba(255, 127, 14, 0.5);
}

circle._80s {
  fill: rgba(44, 160, 44, 0.5);
}

circle._90s {
  fill: rgba(214, 39, 40, 0.5);
}

circle._00s {
  fill: rgba(148, 103, 189, 0.5);
}

circle._10s {
  fill: rgba(140, 86, 75, 0.5);
}

line.all {
  stroke: rgba(101, 109, 120, 0.8);
}

line._60s {
  stroke: rgba(31, 119, 180, 0.8);
}

line._70s {
  stroke: rgba(255, 127, 14, 0.8);
}

line._80s {
  stroke: rgba(44, 160, 44, 0.8);
}

line._90s {
  stroke: rgba(214, 39, 40, 0.8);
}

line._00s {
  stroke: rgba(148, 103, 189, 0.8);
}

line._10s {
  stroke: rgba(140, 86, 75, 0.8);
}

label.btn-60s, label.btn-60s.active_bis{ 
  font-family: 'Font60s';
  background-color: rgba(31, 119, 180, 0.5);
}

label.btn-70s, label.btn-70s.active_bis {
  font-family: 'Font70s';
  background-color: rgba(255, 127, 14, 0.5);
}

label.btn-80s, label.btn-80s.active_bis {
  font-family: 'Font80s';
  background-color: rgba(44, 160, 44, 0.5);
}

label.btn-90s, label.btn-90s.active_bis {
  font-family: 'Font90s';
  background-color: rgba(214, 39, 40, 0.5);
}

label.btn-00s, label.btn-00s.active_bis {
  font-family: 'Font00s';
  background-color: rgba(148, 103, 189, 0.5);
}

label.btn-10s, label.btn-10s.active_bis {
  font-family: 'Font10s';
  background-color: rgba(140, 86, 75, 0.5);
}

label.inactive {
  background-color: rgb(236,240,241);
  color: lightgray;
}

/*** D3 ToolTip style ***/

.d3-tip {
  line-height: 1;
  font: 11px sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(185, 185, 185);
  border-radius: 2px;
  z-index: 3;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip div span.tooltipTitle {
  font-size: 14px;
  color: white;
}

.d3-tip div span.tooltipContents {
  color: white;
}


/* Audio player */

audio {
  display: none !important;
}

.playDisplayButton {
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 9.6px solid #333;
  margin-left: 10px;
  margin-top: 2px;
  border-right: none;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 2px;
  background: transparent;
  padding: 0;
  outline: none;
}

.playDisplayButton:before {
  content: '';
  position: absolute;
  top: -12px;
  left: -18.4px;
  bottom: -12px;
  right: -5.6px;
  border-radius: 50%;
  border: 1.6px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.playDisplayButton:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}

.playDisplayButton:hover:before, .playDisplayButton:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.playDisplayButton.active {
  border-color: transparent;
}

.playDisplayButton.active:after {
  content: '';
  opacity: 1;
  width: 8px;
  height: 12.8px;
  background: #a94442;
  position: absolute;
  right: 2px;
  top: -6.5px;
  border-left: 3px solid #a94442;
  box-shadow: inset 2px 0 0 0 #f9f9f9;
}

/*** Slider ***/

span.slider-label:first-child {
  margin-right: 10px;
}

span.slider-label:last-child {
  margin-left: 10px;
}

div.slider.slider-horizontal {
  width: 80%;
}

/* Slider additional CSS */
#slider {
  margin-bottom: 30px;
  width: 600px;
  height: 50px;
}

/* Zoom buttons */
.btn-group-vertical {
  margin-top: 30px;
  z-index: 10;
  margin-left: 50px;
}

/* Representative Artists */

#the-beatles {
  background-image: url(http://img2-ak.lst.fm/i/u/c33a564f81fc478db125bf08914a4585.png);
}

#stevie-wonder {
  background-image: url(http://img2-ak.lst.fm/i/u/cee3aeee325113a675c12ba386c2fb44.png);
}

#michael-jackson {
  background-image: url(http://img2-ak.lst.fm/i/u/82e02ad3303a4810ad3f6e1cfff9a14a.png);
}

#mariah-carey {
  background-image: url(http://img2-ak.lst.fm/i/u/61ca3abeab76743c4d6a3d7798c39022.png);
}

#eminem {
  background-image: url(http://img2-ak.lst.fm/i/u/a7246852f05343f4a127d648895a8873.png);
}

#rihanna {
  background-image: url(http://img2-ak.lst.fm/i/u/d5db38e344da1e3405d9dba5cebb6171.png);
}

.img-col {
  margin-right: 20px;
  width: 57px;
}

.grey-scale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/s….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  opacity: .7;
}

.active-artist, .grey-scale.active-artist {
  filter: none; /* works for firefox */
  -webkit-filter: none; /*for chrome/ safari */
  -webkit-transition: none;
  opacity: 1;
}

.band-img {
    height: 57px;
    width: 57px;
    border-radius: 50%;
    cursor: pointer;
    background-size: 57px 57px;
}

.tk-futura-pt {
    font-family: "futura-pt",sans-serif;
}

.band-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    opacity: .8;
    cursor: pointer;
    cursor: hand;
}

.decade-col{
    width: 57px;
    margin-right: 20px;
    height: 100px;
    margin-top: 5px;
    font-size: xx-large;
}

@font-face {
    font-family: 'Font60s'; /*a name to be used later*/
    src: url('fonts/60s/victor-moscoso.regular.ttf'); /*URL to font*/
}

p._60s-label {
  font-family: 'Font60s';
  color: rgba(31, 119, 180, 0.5);
}

@font-face {
    font-family: 'Font70s'; /*a name to be used later*/
    src: url('fonts/70s/monoton.regular.ttf'); /*URL to font*/
}

p._70s-label {
  font-family: 'Font70s';
  color: rgba(255, 127, 14, 0.5);
}

@font-face {
    font-family: 'Font80s'; /*a name to be used later*/
    src: url('fonts/80s/videophreak.regular.ttf'); /*URL to font*/
}

p._80s-label {
  font-family: 'Font80s';
  color: rgba(44, 160, 44, 0.5);
}

@font-face {
    font-family: 'Font90s'; /*a name to be used later*/
    src: url('fonts/90s/sans-culottes.regular.ttf'); /*URL to font*/
}

p._90s-label {
  font-family: 'Font90s';
  color: rgba(214, 39, 40, 0.5);
}

@font-face {
    font-family: 'Font00s'; /*a name to be used later*/
    src: url('fonts/00s/neuropol_x_rg.ttf'); /*URL to font*/
}

p._00s-label {
  font-family: 'Font00s';
  color: rgba(148, 103, 189, 0.5);
}

@font-face {
    font-family: 'Font10s'; /*a name to be used later*/
    src: url('fonts/10s/hemi_head_bd_it.ttf'); /*URL to font*/
}

p._10s-label {
  font-family: 'Font10s';
  color: rgba(140, 86, 75, 0.5);
}


